<div class="forgot-password-page">
  <div class="auth-wrapper">
    <div class="mb-3">
      <button class="btn btn-outline-primary w-10 return" (click)="navigateBack()">
        <i class="bi bi-arrow-left me-2"></i>Voltar
      </button>
    </div>
    <div class="forgot-password-container">
      <div class="header">
        <h1>Recupere seu acesso na <strong class="name-enterprise">SorrisoVida</strong></h1>
        <p>Não se preocupe. Insira seu e-mail e enviaremos um link para você redefinir sua senha.</p>
      </div>

      <!-- Mensagens de Feedback -->
      <div *ngIf="successMessage" class="alert alert-success" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>{{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>{{ errorMessage }}
      </div>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <div class="form-group mb-3">
          <label for="email">E-mail</label>
          <input
            id="email"
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="seu.email@exemplo.com"
            [class.is-invalid]="email?.invalid && email?.touched"
          />
          <div *ngIf="email?.errors?.['required'] && email?.touched" class="invalid-feedback">
            O e-mail é obrigatório.
          </div>
          <div *ngIf="email?.errors?.['email'] && email?.touched" class="invalid-feedback">
            Por favor, insira um formato de e-mail válido.
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid || isLoading">
          <span *ngIf="!isLoading">Enviar Link de Redefinição</span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="isLoading"> Enviando...</span>
        </button>

        <a *ngIf="!isAuthenticated" routerLink="/auth/login" class="d-block text-center mt-3">
          Lembrou da senha? <strong>Entrar</strong>
        </a>
      </form>
    </div>
  </div>
</div>
